header {
    background-color: #D5D2FA;
    font: "Mukta";
    font-weight: 800;
}
.title-image {
    width: 60%;
}

.title {
    font: "Mukta";
    font-weight: 300;
}
h2 {
    font: "Mukta";
    
    margin-top: 20px;
    padding-top: 20px;
}

.p {
    font: "Mukta";
    font-weight: 200;
}

.main-body {
    font: "Mukta";
    font-weight: 300;
    background-color: #C8EEFA;
}